[flake8]
max-line-length = 120
per-file-ignores =
    *.py: E265 E275 E501 E221 E203 E201 E124 E202 E241 E251 W293 W291 F811 W504
exclude =
    docs/
    .git/
    .vscode/
    *.ipynb_checkpoints/*
    resource/
    stream_effdet*.py
    stream_yolo*.py
    test_*.py
